.App {
	text-align: center;
	color: Green;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* .btn{
	min-width: 80px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: .75em 1.5em;
	text-align: center;
	line-height: 120%;
	font-size: 16px;
}

.btn-skin{
	border-radius: 6px;
	background: #fdb8b8;
	color: #000000;
} */

/* form */
.form-list {
	list-style: none;
}